/* indicazioni font*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 1.2;
  line-height: 1.65;
  color: #393d41;
}

header {
  line-height: 1.5;
}
h1 {
  color: #25a2c3;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

footer {
  color: #c8e7f0;
}
footer h2 {
  color: white;
}

footer a {
  color: #c8e7f0;
}
/* indicazioni background color */
.sfondo-nero {
  background-color: black;
}

button {
  background-color: #f04c2f;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.sfondo-arancio {
  background-color: #e22d0e;
}

footer {
  background-color: #25a2c3;
}
/* indicazioni bordi */
.brother {
  border: solid 1px #dee1e3;
}

/* vero inizio, sopra non toccare  
indicazioni generali forma*/
* {
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2.7rem;
  font-weight: bold;
  font-weight: bold;
  margin: 2rem;
}
h3 {
  color: #25a2c3;
  font-size: 1.2rem;
  font-weight: bold;
}
p {
  margin: 2rem;
}

i {
  font-style: italic;
}
h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
}
header div img {
  width: 10rem;
  margin: 2rem;
}
.sfondo-img {
  background-image: url(../images/banner.jpg);
  background-position: center center;
  padding: 5rem 0 5rem;
  background-size: cover;
  margin-bottom: 3rem;
}

header {
  text-align: center;
}

button {
  border: none;
  border-radius: 5px;
  padding: 1.2rem;
  width: 12rem;
}
.img-tonda {
  border-radius: 100%;
}
.sfondo-arancio {
  padding: 1.5rem 0rem 1.5rem;
  color: white;
  margin: 5rem 0rem 5rem;
}

.sfondo-arancio p {
  margin-top: 0px;
}

footer {
  padding: 2rem;
  margin-top: 5rem;
}

.brother {
  margin: 2rem;
}
.brother img {
  width: 100%;
}

hr {
  width: 12rem;
}
